* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: sans-serif;
  line-height: 1.5;
  color: #fff;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

/* ========== section ========== */
section {
  display: grid;
  grid-template-columns: 1fr minmax(auto, 1200px) 1fr;
  gap: 1rem;

  padding-block: 4rem;
  background: #463866;
}

/* ========== article ========== */
article {
  grid-column: 2;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  gap: 1.5rem;
}

.content > p {
  color: #72f1b8;
}

p + figure {
  margin-top: 1rem;
}

/* ========== gallery ========== */
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  gap: 12px;
}

.gallery img {
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}
